


body {
  background-color:  #9FF781;
}

.bigwords {
  font-size: 2em;
}

.titlefont {
    font-family:'Capriola', sans-serif;
    font-size: 2em;
}

.title {
  font-family:  'Amaranth', sans-serif;
  font-size: 4em;
  color: black;
}

.titlefont3 {
  font-family:  'Amaranth', sans-serif;
  font-size: 3em;
}

.titlefont2 {
    font-family:'Capriola', sans-serif;
    font-size: 1em;
}

.backgroundblue {
  border-width: 20px;
  background-color: #81DAF5;
  border-color: f60;
  color: black;
}


.backgroundgreen {
  background-color: #9FF781;
  border-color: f60;
  color: black;
  width: : 60px;
  height: 50px;
  padding: 
}

.buttons {

  background-color: #81DAF5;
  border-color: black;
  color: black;
}

.buttons:hover {

  background-color: #007bff;
  border-color: black;
  color: black;
}

.buttonbg {
  background-color: #81DAF5;
  color: black;
  border-color: black;
  padding: .5rem 1rem;
}

.buttonbg:hover {

  background-color: #007bff;
  border-color: black;
  color: black;
}

.buttonsup {
  color: #007bff;

}

.buttonsup:hover {
  color: #81DAF5;

}

a {
  color:black;
  transition:.5s ease;
  &:hover {
 background-color: #81DAF5;
 border-color: black;
  }
}

.form {
  background:rgba($form-bg,.9);
  padding: 40px;
  max-width:600px;
  margin:40px auto;
  border-radius:$br;
  box-shadow:0 4px 10px 4px rgba($form-bg,.3);
}

.tab-group {
  list-style:none;
  padding:0;
  margin:0 0 40px 0;
  &:after {
    content: "";
    display: table;
    clear: both;
  }
  li a {
    display:block;
    text-decoration:none;
    padding:15px;
    background:rgba($gray-light,.25);
    color:$gray-light;
    font-size:20px;
    float:left;
    width:50%;
    text-align:center;
    cursor:pointer;
    transition:.5s ease;
    &:hover {
      background:$main-dark;
      color:black;

    }
  }
  .active a {
    background:$main;
    color:black;
  }
}

.tab-content > div:last-child {
  display:none;
}


h1 {
  text-align:center;
  color:black;
  font-weight:$thin;
  margin:0 0 40px;
}

label {
  position:absolute;
  transform:translateY(6px);
  left:13px;
  color:rgba($white,.5);
  transition:all 0.25s ease;
  -webkit-backface-visibility: hidden;
  pointer-events: none;
  font-size:22px;
  .req {
  	margin:2px;
  	color:$main;
  }
}

label.active {
  transform:translateY(50px);
  left:2px;
  font-size:14px;
  .req {
    opacity:0;
  }
}

label.highlight {
	color:black;
}

input, textarea {
  font-size:22px;
  display:block;
  width:100%;
  height:100%;
  padding:5px 10px;
  background:none;
  background-image:none;
  border:1px solid $gray-light;
  color:$white;
  border-radius:0;
  transition:border-color .25s ease, box-shadow .25s ease;
  &:focus {
		outline:0;
		border-color:$main;
  }
}

textarea {
  border:2px solid $gray-light;
  resize: vertical;
}

.field-wrap {
  position:relative;
  margin-bottom:40px;
}

.top-row {
  &:after {
    content: "";
    display: table;
    clear: both;
  }

  > div {
    float:left;
    width:48%;
    margin-right:4%;
    &:last-child { 
      margin:0;
    }
  }
}

.button-block {
  display:block;
  width:100%;
}

.forgot {
  margin-top:-20px;
  text-align:right;
}